= form_for(@pasajero) do |f|
  - if @pasajero.errors.any?
    #error_explanation.alert.alert-danger
      %h2
        = pluralize(@pasajero.errors.count, "error")
        prohibited this pasajero from being saved:
      %ul
        - @pasajero.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :nombre
    %br/
    = f.text_field :nombre, class: 'form-control'
  .actions
    = f.submit (@pasajero.id != nil ? 'Edit' : 'Create'), class: 'btn btn-primary'
