%h1 Todos los Pasajeros
%table.table.table-striped
  %thead
    %tr
      %th Nombre
      %th
  %tbody
    - @pasajeros.each do |pasajero|
      %tr
        %td= pasajero.nombre
        %td
          = link_to 'Show', pasajero
          = link_to 'Edit', edit_pasajero_path(pasajero)
          = link_to 'Destroy', pasajero, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Pasajero', new_pasajero_path, class: 'btn btn-primary'
