<p id="notice"><%= notice %></p>

<p>
  <strong>Revision:</strong>
  <%= @revision_pasajero.revision_id %>
</p>

<p>
  <strong>Pasajero:</strong>
  <%= @revision_pasajero.pasajero_id %>
</p>

<%= link_to 'Edit', edit_revision_pasajero_path(@revision_pasajero) %> |
<%= link_to 'Back', revision_pasajeros_path %>
