<%= form_for(@revision) do |f| %>
  <% if @revision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revision.errors.count, "error") %> prohibited this revision from being saved:</h2>

      <ul>
      <% @revision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :revisior %><br>
    <%= f.text_field :revisior %>
  </div>
  <div class="field">
    <%= f.label :aeronave_id %><br>
    <%= f.number_field :aeronave_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
