= form_for(@revision) do |f|
  - if @revision.errors.any?
    #error_explanation.alert.alert-danger
      %h2
        = pluralize(@revision.errors.count, "error")
        prohibited this revision from being saved:
      %ul
        - @revision.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :revisior
    %br/
    = f.text_field :revisior, class: 'form-control'
  .field
    = f.label :aeronave_id
    %br/
    = f.collection_select :aeronave_id, Aeronave.all, :id, :nombre, {}, {:class=>'form-control'}
  .actions
    = f.submit 'Create', class: 'btn btn-primary'
