%h1 Todas las Revisiones
%table.table.table-striped
  %thead
    %tr
      %th Revisor
      %th Aeronave
      %th Fecha
      %th
  %tbody
    - @revisions.each do |revision|
      %tr
        %td= revision.revisior
        %td= revision.aeronave.nombre
        %td= l(revision.created_at, :format => :short)
        %td
          = link_to 'Show', revision, class: "btn btn-info"
          = link_to 'Destroy', revision, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
%br/
= link_to 'New Revision', new_revision_path, class: 'btn btn-primary'
