%h2 Revisi&oacute;n

.row
  %div.col-md-4
    %p
      %span.titulo Revisor: 
      %br
      %span.texto= @revision.revisior
      %br
      %span.titulo Aeronave:
      %br
      %span.texto= @revision.aeronave.nombre
      %br
      %span.titulo Fecha:
      %br
      %span.texto= l(@revision.created_at, :format => :short)
  %div.col-md-8
    %h3 
      Pasajeros dentro de la aeronave
      %b= @revision.aeronave.nombre
    %table.table.table-striped
      %thead
        %tr
          %th Nombre
      %tbody
        - @revision.pasajeros.each do |pasajero|
          %tr
            %td= pasajero.nombre

