= form_for(@aeronafe) do |f|
  - if @aeronafe.errors.any?
    #error_explanation.alert.alert-danger
      %h2
        = pluralize(@aeronafe.errors.count, "error")
        prohibited this aeronafe from being saved:
      %ul
        - @aeronafe.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :nombre
    %br/
    = f.text_field :nombre, class: 'form-control' 
  .field
    = f.label :max_marcianos
    %br/
    = f.number_field :max_marcianos, class: 'form-control' 
  .field
    = f.label :nave_origen
    %br/
    = f.collection_select :nave_origen, NaveNodriza.all, :id, :nombre, {}, {:class=>'form-control'}
  .field
    = f.label :nave_destino
    %br/
    = f.collection_select :nave_destino, NaveNodriza.all, :id, :nombre, {}, {:class=>'form-control'}
  .actions
    = f.submit  ( @aeronafe.id != nil ? 'Edit' : 'Create' ), class: 'btn btn-primary'
