.row
  .col-md-12
    %h1 Todas las Aeronaves
    %table.table.table-striped
      %thead
        %tr
          %th Nombre
          %th Max marcianos
          %th Nave origen
          %th Nave destino
          %th Tipo Viaje
          %th
      %tbody
        - @aeronaves.each do |aeronafe|
          %tr
            %td= aeronafe.nombre
            %td= aeronafe.max_marcianos
            %td= aeronafe.origen.nombre
            %td= aeronafe.destino.nombre
            %td= raw(aeronafe.nave_origen == aeronafe.nave_destino ? "<span class='label label-success'>Turista</span>" : "<span class='label label-default'>Normal</span>")
            %td
              = link_to 'Show', aeronafe, class: "btn btn-info"
              = link_to 'Edit', edit_aeronafe_path(aeronafe), class: "btn btn-warning"
              = link_to 'Destroy', aeronafe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
    %br/
    = link_to 'New Aeronave', new_aeronafe_path, class: "btn btn-primary"
