= form_for(@movimiento) do |f|
  - if @movimiento.errors.any?
    #error_explanation.alert.alert-danger
      %h2
        = pluralize(@movimiento.errors.count, "error")
        prohibited this movimiento from being saved:
      %ul
        - @movimiento.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :tipo_movimiento
    %br/
    = f.collection_select :tipo_movimiento, TipoMovimiento::tipos, :id, :nombre, {}, {:class=>'form-control'}
  .field
    = f.label :pasajero_id
    %br/
    = f.collection_select :pasajero_id, Pasajero.all, :id, :nombre, {}, {:class=>'form-control'}
  .field
    = f.label :aeronave_id
    %br/
    = f.collection_select :aeronave_id, Aeronave.all, :id, :nombre, {}, {:class=>'form-control'}
  .actions
    = f.submit 'Create', class: 'btn btn-primary'
