%h1 Listing movimientos
%table
  %thead
    %tr
      %th Tipo movimiento
      %th Pasajero
      %th Aeronave
      %th
      %th
      %th
  %tbody
    - @movimientos.each do |movimiento|
      %tr
        %td= movimiento.tipo_movimiento
        %td= movimiento.pasajero_id
        %td= movimiento.aeronave_id
        %td= link_to 'Show', movimiento
        %td= link_to 'Edit', edit_movimiento_path(movimiento)
        %td= link_to 'Destroy', movimiento, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Movimiento', new_movimiento_path
