<h1>Listing movimientos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo movimiento</th>
      <th>Pasajero</th>
      <th>Aeronave</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos.each do |movimiento| %>
      <tr>
        <td><%= movimiento.tipo_movimiento %></td>
        <td><%= movimiento.pasajero_id %></td>
        <td><%= movimiento.aeronave_id %></td>
        <td><%= link_to 'Show', movimiento %></td>
        <td><%= link_to 'Edit', edit_movimiento_path(movimiento) %></td>
        <td><%= link_to 'Destroy', movimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movimiento', new_movimiento_path %>
