= form_for(@nave_nodriza) do |f|
  - if @nave_nodriza.errors.any?
    #error_explanation.alert.alert-danger
      %h2
        = pluralize(@nave_nodriza.errors.count, "error")
        prohibited this nave_nodriza from being saved:
      %ul
        - @nave_nodriza.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :nombre
    %br/
    = f.text_field :nombre, class: 'form-control'
  .actions
    = f.submit 'Create', class: 'btn btn-primary' 
